<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/admin.css">
  
  <title>Administrando Receitas</title>
</head>
<body>
  <header>
    <div class="div-header"><a href="/admin/recipes"><img src="/assets/logoAdmin.png" alt="Logo Foodly"></a></div>
  </header>

  <div id="master">
    {% block content %}
    {% endblock %}
  </div>
  
  <script src="/admin.js"></script>
</body>
</html>