{% extends 'layout.njk' %}

{% block content %}
<form class="card" method="post" action="/teachers">
  <section style="background: url('https://source.unsplash.com/collection/9021218/500x500') no-repeat center center / cover"></section>

  <section class="details">
    <h3>Cadastrar professor</h3>

    {% include 'teachers/fields.njk' %}
  </section>
</form>
{% endblock %}