{% extends 'layout.njk' %}

{% block content %}
<div class="card">
  <section style="background: url('{{student.avatar_url}}') no-repeat center center / cover"></section>
  <section class="details">
  <form method="post" action="/students?_method=PUT">
    <h3>Cadastrar professor</h3>
    {% include 'students/fields.njk' %}

    <input type="hidden" name="id" value="{{student.id}}">  
  </form>
  <form action="/students?_method=DELETE" class="form-delete" method="POST">
    <input type="hidden" name="id" value={{student.id}}>
    <button type="submit">Deletar</button>
  </form>
  </section>
</div>

{% include 'confirm.njk' %}

{% endblock %}