<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">

  <title>Foodly</title>
</head>
<body>
  <div class="contents">

    <header>
      <img src="/assets/logo.png" alt="Foodly">
      
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/recipes">Receitas</a></li>
        <li><a href="/about">Sobre</a></li>
        <li><a class="admin" href="/admin/recipes">Administrar</a></li>
      </ul>
    </header>

    <div class="featured">
      <div class="featured-info">
        <h2>As melhores receitas</h2>
        <p>Aprenda a construir os melhores pratos<br>com receitas criadas por profissionais<br>do mundo inteiro.</p>
      </div>

      <img src="/assets/chef.png" alt="">
    </div>


    <main>
      <h3>Mais acessadas</h3>

      <div class="cards">

        {% for recipe in recipes %}
        <div class="card" id="{{ recipe.id }}">
          <input type="hidden" name="id" value="{{ recipe.id }}">
          <img src="{{ recipe.image }}" alt="Burger">
          <div class="card_info">
            <h4>{{ recipe.title }}</h4>
            <p>{{ recipe.author }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </main>

  </div>
    <footer>
      <p>Todos os direitos reservados, receitas Foodly</p>
    </footer>

    <script src="/index.js"></script>
  
</body>
</html>