{% extends 'admin/layout.njk' %}

{% block content %}
<div class="title-link">
  <h1>Gerenciar Receitas</h1>
  <a class="back-button" href="/">Voltar</a>
  <a href="/admin/recipes/create">Nova receita</a>
</div>

<div class="cards">
  {% for recipe in recipes %}
    <div class="card">
      <img src="{{ recipe.image }}" alt="Imagem de {{ recipe.title }}">
      <div class="info-card">
        <h3>{{ recipe.title }}</h3>
        <p>por {{ recipe.author }}</p>
        <a href="/admin/recipes/{{ recipe.id }}">Visualizar</a>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}