#theme-dark .hide {
  position: fixed;
  background: black;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

/* #page-home .content main h1 {
  color: aliceblue;
}

#page-home .content header a {
  color: aliceblue;
}

#page-create-point header a {
  color: aliceblue;
}

#page-create-point form {
  background: rgb(27, 26, 26);
}

#page-create-point form h1 {
  color: aliceblue;
}

.items-grid li {
  background: black;
}
*/