<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  {% block head %}
    <title>Not found - 404</title>
  {% endblock %}

</head>
<body>
  
  {% block content %}
    <h1>Página não encontrada - 404</h1>
  {% endblock %}

</body>
</html>