{% extends 'layout.njk' %} {% block head %}
<link rel="stylesheet" href="./styles/pagina-posts-iframe.css" />
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<title>Conteúdos!</title>
{% endblock %} {% block content %}
<main class="container">
  {% for course in courses %}
    <div
      class="card"
      id="{{course.id}}"
    >
      <img
        src="{{course.image}}"
        alt="{{course.title}}"
      />
      <div class="card-info">
        <h2>{{course.title}}</h2>
        <p>por <strong>{{course.author}}</strong></p>
        <span>{{course.duration}}</span>
      </div>
    </div>
  {% endfor %}
 
</main>

<script src="./scripts/modal.js"></script>
{% endblock %}
